<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljb.sbdemo.dao.CommodityMapper" >
    <select id="getRelateCommodityList" resultType="com.ljb.sbdemo.models.model.Commodity">
        SELECT
        comm.id,
        comm.category_id AS categoryId,
        comm.`name`,
        comm.price,
        comm.formal_price AS formalPrice,
        comm.description,
        comm.image_cover AS imageCover,
        comm.image_secondary AS imageSecondary
        FROM
        t_order ord
        LEFT JOIN commodity comm ON ord.commodity_id = comm.id
        WHERE
        ord.commodity_id <![CDATA[!= ]]> #{commodityId}
        AND ord.account IN (
        SELECT
        o.account
        FROM
        `t_order` o
        WHERE
        o.commodity_id = #{commodityId}
        )
        GROUP BY
        ord.commodity_id
        ORDER BY
        count(*) DESC
        LIMIT 0,6
    </select>
    <select id="getIndexRelateCommodityList" resultType="com.ljb.sbdemo.models.model.Commodity">
        SELECT
        DISTINCT comm.id,
        comm.category_id AS categoryId,
        comm.`name`,
        comm.price,
        comm.formal_price AS formalPrice,
        comm.description,
        comm.image_cover AS imageCover,
        comm.image_secondary AS imageSecondary
        FROM
        commodity comm
        LEFT JOIN t_order oo ON comm.id = oo.commodity_id
        WHERE
        oo.account IN (
        SELECT
        o.account
        FROM
        t_order o
        WHERE
        o.account <![CDATA[!= ]]> #{account}
        AND o.commodity_id IN (
        SELECT
        ord.commodity_id
        FROM
        t_order ord
        WHERE
        ord.account = #{account}
        )
        GROUP BY
        o.account
        )
        LIMIT 0,6
    </select>

    <select id="getSellWellCommodityList" resultType="com.ljb.sbdemo.models.model.Commodity">
      SELECT
        DISTINCT comm.id,
        comm.category_id AS categoryId,
        comm.`name`,
        comm.price,
        comm.formal_price AS formalPrice,
        comm.description,
        comm.image_cover AS imageCover,
        comm.image_secondary AS imageSecondary
      FROM
        t_order oo
      LEFT JOIN commodity comm ON comm.id = oo.commodity_id
      GROUP BY
        oo.commodity_id
      ORDER BY
        count(*) DESC
      LIMIT 0,6
    </select>
    <select id="getSimilarCommodityList" resultType="com.ljb.sbdemo.models.model.Commodity">
        SELECT
        comm.id,
        comm.category_id AS categoryId,
        comm.`name`,
        comm.price,
        comm.formal_price AS formalPrice,
        comm.description,
        comm.image_cover AS imageCover,
        comm.image_secondary AS imageSecondary
        FROM
        commodity comm
        WHERE
        comm.id IN (
        SELECT
        o.commodity_id
        FROM
        t_order o
        WHERE
        o.commodity_id <![CDATA[!= ]]> #{commodityId}
        AND o.account IN (
        SELECT
        oo.account
        FROM
        t_order oo
        WHERE
        oo.commodity_id = #{commodityId}
        )
        GROUP BY
        o.commodity_id
        ORDER BY
        count(1) DESC )
    </select>

    <select id="testProd" parameterType="map" statementType="CALLABLE">
        call Proc_Test(
            ${id}
        )
    </select>
</mapper>